* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*SUPERCONTENEDOR*/
.supercontenedor {
  display: grid;
  grid-template-rows: auto 1fr auto; }

/*HEADER*/
.header {
  --bs-gutter-x: 0rem; }
  .header__nav--texto {
    font-size: 1rem;
    color: #484847;
    font-family: Arial, Helvetica, sans-serif;
    padding-inline: 1rem;
    text-decoration: none; }
  .header__img--logo {
    margin: 1rem;
    height: 4rem; }
  .header__img--bolsa {
    margin: 1rem;
    height: 1.8rem;
    border-left: solid #aeaeae 0.5px;
    padding-left: .8rem; }
  .header__img--lupa {
    width: 1rem; }

.form-control:focus {
  border-color: #444444;
  box-shadow: 0 0 0 0.25rem rgba(63, 63, 63, 0.25); }

.navbar-toggler {
  font-size: medium;
  margin-right: 1rem; }

.btn {
  background-color: transparent;
  border: transparent; }
  .btn:hover {
    background-color: #dddbdb;
    border-color: transparent; }
  .btn-outline-success {
    --bs-btn-active-bg: #484848; }

/*FOOTER*/
.footer {
  background-color: #e1e1e1; }
  .footer__encabezado {
    font-size: 1rem;
    color: #0a0a0a;
    margin: 1rem 1rem .5rem 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder; }
  .footer__redes {
    margin-left: 1rem;
    margin-bottom: 1rem; }
  .footer__redes--img {
    width: 1.5rem; }

/*MAIN
index*/
.main {
  display: flex;
  background-image: url(../img/portada_xl.png);
  height: 650px;
  width: 100%;
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: flex-end;
  box-sizing: border-box; }
  .main__img--logo {
    margin: 3rem;
    height: 8rem; }

.main__seccion2 {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  padding: 2rem 10rem 2rem 10rem;
  row-gap: 2rem;
  column-gap: 4rem; }
  .main__seccion2--encabezado {
    font-size: 2rem;
    color: #414141;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 2rem;
    font-weight: bold; }
  .main__seccion2--img {
    margin: 2rem;
    height: 10rem; }
  .main__seccion2--primeraimg {
    display: flex;
    justify-content: flex-end; }
  .main__seccion2--descripcion {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem; }
  .main__seccion2--primerparrafo {
    text-align: left; }
  .main__seccion2--segundoparrafo {
    text-align: right; }
  .main__seccion2--titulo {
    font-size: 2rem;
    color: #060606;
    font-family: Arial, Helvetica, sans-serif; }
  .main__seccion2--bajada {
    font-size: 1rem;
    color: #313131;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter; }

/*MAIN
productos*/
.productos__encabezado {
  font-size: 2rem;
  color: #060606;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center; }

.productos__galeria {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  text-align: center;
  gap: .5rem;
  padding-left: 0; }

.productos__img {
  height: 300px;
  border: solid 1px; }

.productos__descripcion {
  font-size: 1rem;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  margin-top: 1rem;
  margin-left: .5rem; }

.productos__comprar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: .5rem;
  margin-left: .5rem; }

.productos__precio {
  font-size: 1rem;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  margin-bottom: 0rem; }

.productos__boton {
  font-size: .7rem;
  background-color: #444444;
  color: #ffffff;
  padding: .3rem;
  border-radius: .3rem;
  border: solid 1px; }
  .productos__boton:hover {
    background-color: #242424;
    border-color: transparent; }

/*MAIN
nosotros*/
.main__nosotros--descripcion {
  padding: 1.5rem;
  padding-top: 0rem;
  padding-bottom: .5rem;
  text-align: justify; }

.main__nosotros--encabezado {
  font-size: 2rem;
  color: #060606;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold; }

.main__nosotros--parrafo {
  font-size: 1rem;
  color: #313131;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter; }

.main__nosotros--negrita {
  font-weight: bold; }

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  --bs-gutter-x: 0rem; }

/*MAIN
preguntas frecuentes*/
.main__preguntas--encabezado {
  font-size: 2rem;
  color: #060606;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center; }

.main__preguntas--titulo {
  font-size: 1rem;
  color: #060606;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold; }

.main__preguntas--contenido {
  text-align: justify; }

.main__preguntas--padding {
  padding: 1.5rem;
  padding-top: 0rem; }

.accordion-button:focus {
  box-shadow: none; }

.accordion-button:not(.collapsed) {
  color: #464646;
  background-color: #cacaca; }

/*MAIN 
contacto*/
.contacto {
  display: flex;
  justify-content: center;
  padding: 2rem; }
  .contacto__descripcion {
    border-right: solid 1px;
    padding-right: 2rem; }
    .contacto__descripcion--encabezado {
      font-size: 2rem;
      color: #060606;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold; }
    .contacto__descripcion--parrafo {
      font-size: 1rem;
      color: #313131;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: lighter; }

.contacto__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 2rem; }
  .contacto__form--encabezado {
    font-size: 1.5rem;
    color: #060606;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold; }
  .contacto__form--elemento {
    margin-top: .5rem;
    margin-bottom: .5rem; }
  .contacto__form--boton {
    margin-top: .5rem;
    margin-bottom: .5rem;
    border: #444444 solid 1px;
    color: #000000;
    background-color: #b0b0b0;
    font-weight: bold;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif; }

/*MEDIA QUERIES*/
@media screen and (max-width: 768px) {
  /*HEADER*/
  .header__nav--elemento {
    font-size: .8rem; }
  /*FOOTER*/
  .footer__encabezado {
    font-size: .7rem;
    margin: 1rem 0rem .5rem 1rem; }
  /*MAIN
index*/
  .main {
    height: 550px; }
    .main--logo {
      margin: 1.5rem;
      height: 6rem; }
  .main__seccion2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    padding: 1.5rem; }
    .main__seccion2--encabezado {
      font-size: 1.5rem; }
    .main__seccion2--img {
      margin: 0rem; }
    .main__seccion2--bajada {
      margin-top: 1rem; }
  .border-b {
    border-bottom: solid 0.5px #b6b6b6;
    padding-bottom: 1.5rem; }
  /*MAIN
productos*/
  .productos__galeria {
    display: grid;
    grid-template-columns: auto auto auto;
    box-sizing: border-box;
    overflow: hidden;
    justify-items: center;
    margin-bottom: 3rem; }
  .productos__img {
    height: 200px;
    border: solid 1px;
    margin-top: 1.5rem; } }

@media screen and (max-width: 425px) {
  /*HEADER*/
  .header__img--logo {
    margin: 1rem;
    height: 3rem; }
  .header__img--bolsa {
    height: 1.5rem; }
  /*MAIN
index*/
  .main {
    height: 350px; }
    .main__img--logo {
      margin: 1.5rem;
      height: 4rem; }
  .main__seccion2--encabezado {
    font-size: 1.7rem;
    padding: 2rem 4rem 0rem 4rem; }
  .main__seccion2--img {
    margin: 0rem; }
  .main__seccion2--bajada {
    margin-top: 1rem; }
  /*MAIN
productos*/
  .productos__galeria {
    grid-template-columns: 1fr 1fr; }
  /*MAIN
contacto*/
  .contacto {
    flex-direction: column; }
    .contacto__descripcion {
      border-right: none;
      padding-right: 0rem; }
    .contacto__form {
      padding-left: 0rem; } }
