* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*SUPERCONTENEDOR*/

.supercontenedor {
    display: grid;
    grid-template-rows: auto 1fr auto;
  }

/*HEADER*/

.row {
    --bs-gutter-x: 0rem;
}

.header__img--logo {
    margin: 1rem;
    height: 4rem;
}

.header__nav--elemento{
    font-size: 1rem;
    color:rgb(72, 72, 71);
    font-family: Arial, Helvetica, sans-serif;
    padding-inline: 1rem;
    text-decoration: none;
}

.header__img--bolsa{
    margin: 1rem;
    height: 1.8rem;
    border-left: solid rgb(174, 174, 174) .5px;
    padding-left: .8rem;
}

.navbar-toggler {
    font-size:medium;
}

.btn{
    background-color:transparent;
    border:transparent;
}

.btn:hover {
    background-color: rgb(221, 219, 219);
    border-color:transparent;
}

.btn-outline-success {
    --bs-btn-active-bg: #484848;
}

.lupa{
    width: 1rem;
}

.form-control:focus {
    border-color: #444444;
    box-shadow: 0 0 0 0.25rem rgba(63, 63, 63, 0.25);
}

.navbar-toggler {
    margin-right: 1rem;
}

/*MAIN INDEX*/

.main{
    display: flex;
    background-image: url(../img/portada_xl.png);
    height: 650px;
    width: 100%;
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: flex-end;
    box-sizing: border-box;
}

.main__img--logo {
    margin: 3rem;
    height: 8rem;
}

.main__elemento--encabezado{
    font-size: 2rem;
    color:rgb(65, 65, 65);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 2rem;
    font-weight: bold;
}

.main__elemento{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    padding: 2rem 10rem 2rem 10rem;
    row-gap: 2rem;
    column-gap: 4rem;
}

.main__elemento--descripcion{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

.main__elemento--img{
    margin: 2rem;
    height: 10rem;
}

.main__elemento--primeraimg{
    display: flex;
    justify-content: flex-end;
}

.main__elemento--primerparrafo{
    text-align: left;
}

.main__elemento--segundoparrafo{
    text-align: right;
}

.main__elemento--titulo{
    font-size: 2rem;
    color:rgb(6, 6, 6);
    font-family: Arial, Helvetica, sans-serif;
}

.main__elemento--bajada{
    font-size: 1rem;
    color:rgb(49, 49, 49);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}


/*MAIN PRODUCTOS*/

.productos__encabezado{
    font-size: 2rem;
    color: rgb(6, 6, 6);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}

.productos__galeria{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    padding-left: 0;
}

.productos__descripcion{
    font-size: 1rem;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:normal;
    margin-top: 1rem;
    margin-left: .5rem;
}

.productos__precio{
    font-size: 1rem;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bolder;
}

.productos__comprar{
    font-size: 1rem;
}

.productos__img{
    height: 300px;
    border: solid 1px;
}

.precio_comprar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: .5rem;
    margin-left: .5rem;
}

/*MAIN NOSOTROS*/

.main__nosotros--descripcion{
    padding: 1.5rem;
    padding-top: 0rem; 
    padding-bottom: .5rem;
    text-align: justify;
}

.main__nosotros--encabezado{
    font-size: 2rem;
    color: rgb(6, 6, 6);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.main__nosotros--parrafo{
    font-size: 1rem;
    color: rgb(49, 49, 49);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

.negrita{
    font-weight: bold;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 0rem;
}


/*MAIN PREGUNTAS FRECUENTES*/

.main__preguntas--encabezado{
    font-size: 2rem;
    color:rgb(6, 6, 6);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}

.main__preguntas--titulo{
    font-size: 1rem;
    color:rgb(6, 6, 6);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.main__preguntas--contenido{
    text-align: justify;
}

.main__preguntas--padding{
    padding: 1.5rem;
    padding-top: 0rem;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    color: rgb(70, 70, 70);
    background-color: rgb(202, 202, 202);
}

/*MAIN CONTACTO*/

.main__contacto--form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nosotros__form--encabezado{
    font-size: 1.5rem;
    color: rgb(6, 6, 6);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.nosotros__form--elemento{
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.nosotros__form--boton{
    margin-top: .5rem;
    margin-bottom: .5rem;
    border: #444444 solid 1px;
    color: #000000;
    background-color: #b0b0b0;
    font-weight: bold;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}


/*FOOTER*/

.footer{
    background-color: rgb(225, 225, 225);     
}

.footer__encabezado{
    font-size: 1rem;
    color:rgb(10, 10, 10);
    margin: 1rem 1rem .5rem 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bolder;
}

.footer__redes{
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.footer__redes--img{
    width: 1.5rem;
}



/*MEDIA QUERIES*/

@media screen and (max-width:768px){

/*HEADER*/

.header__nav--elemento {
    font-size: .8rem;
}

/*MAIN INDEX*/

.main {
    height: 550px;

}

.main__img--logo {
    margin: 1.5rem;
    height: 6rem;
}

.main__elemento--encabezado {
    font-size: 1.5rem;
}

.main__elemento {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    padding: 1.5rem;
}

.border-b {
    border-bottom: solid 0.5px rgb(182, 182, 182);
    padding-bottom: 1.5rem;
}

.main__elemento--img {
    margin: 0rem;
}

.main__elemento--bajada{
    margin-top: 1rem;
}

.productos__galeria{
    display: grid;
    grid-template-columns: auto auto auto;
    box-sizing: border-box;
    overflow: hidden;
    justify-items: center;
    margin-bottom: 3rem;
}

.productos__img {
    height: 250px;
    border: solid 1px;
    margin-top: 1.5rem;
}

/*FOOTER*/

.footer__encabezado {
    font-size: .7rem;
    margin: 1rem 0rem .5rem 1rem;
}


}

@media screen and (max-width:425px){

/*HEADER*/
    
.header__img--logo{
    margin: 1rem;
    height: 3rem;

}

.header__img--bolsa {
    height: 1.5rem;
}

/*MAIN INDEX*/

.main {
    height: 350px;

}

.main__img--logo {
    margin: 1.5rem;
    height: 4rem;
}

.main__elemento--encabezado {
    font-size: 1.7rem;
    padding: 2rem 4rem 0rem 4rem;
    
}

.main__elemento--img {
    margin: 0rem;
}

.main__elemento--bajada{
    margin-top: 1rem;
}

.productos__galeria{
    grid-template-columns: auto auto;
}
