/*MAIN 
contacto*/
.contacto{
    display: flex;
    justify-content: center;
    padding: 2rem;
    &__descripcion{
        border-right: solid 1px;
        padding-right: 2rem;  
    &--encabezado{
        font-size: $size-titulo;
        color: $colortext-1;
        font-family: $familiafuente-general;
        font-weight: bold;}
    &--parrafo{
        font-size: 1rem;
        color: $colortext-2;
        font-family: $familiafuente-general;
        font-weight: lighter;}
    }
}

.contacto__form{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 2rem;
    &--encabezado{
        font-size: 1.5rem;
        color: $colortext-1;
        font-family: $familiafuente-general;
        font-weight: bold;}
    &--elemento{
        margin-top: .5rem;
        margin-bottom: .5rem;}
    &--boton{
        @include boton;
        &:hover {
            @include boton-hover;}
    }
}