/*FOOTER*/
.footer{
    background-color:$fondo-footer ;
    position: fixed;
    bottom: 0;
    width: 100%;    
    &__encabezado{
        font-size: 1rem;
        color: $colortext-1;
        margin: 1rem 1rem .5rem 1rem;
        font-family: $familiafuente-general;
        font-weight:bolder;}
    &__redes{
        margin-left: 1rem;
        margin-bottom: 1rem;}
    &__redes--img{
        width: 1.5rem;}
}