/*MAIN
index*/
.main{
    display: flex;
    background-image: url(../img/portada_xl.png);
    height: 650px;
    width: 100%;
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: flex-end;
    box-sizing: border-box;
    &__img--logo{
        margin: 3rem;
        height: 8rem;}
}

.main__seccion2{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    padding: 2rem 10rem 2rem 10rem;
    row-gap: 2rem;
    column-gap: 4rem;
    margin-bottom: 5rem;
    &--encabezado{
        font-size: $size-titulo;
        color: $colortext-1;
        font-family: $familiafuente-general;
        text-align: center;
        padding-top: 4rem;
        padding-bottom: 2rem;
        font-weight: bold;}
    &--img{
        margin: 2rem;
        height: 10rem;}
    &--primeraimg{
        display: flex;
        justify-content: flex-end;}
    &--descripcion{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;}    
    &--parrafo{
        text-align: center;}
    &--titulo{
        font-size: 2rem;
        color:$colortext-1;
        font-family: $familiafuente-general;}
    &--bajada{
        font-size: 1rem;
        color:$colortext-2;
        font-family: $familiafuente-general;
        font-weight: lighter;}
}





