/*MAIN
nosotros*/
.main__nosotros{
    &--descripcion{
    padding: 1.5rem;
    padding-top: 0rem; 
    padding-bottom: .5rem;
    text-align: justify;}
    &--encabezado{
        font-size: $size-titulo;
        color: $colortext-1;
        font-family: $familiafuente-general;
        font-weight: bold;}
    &--parrafo{
        font-size: 1rem;
        color: $colortext-2;
        font-family: $familiafuente-general;
        font-weight: lighter;}
    &--negrita{
        font-weight: bold;}
    }
    
    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 0rem}
    