/*MAIN
productos*/
.productos{
    &__encabezado{
        font-size: $size-titulo;
        color: $colortext-1;
        font-family: $familiafuente-general;
        font-weight: bold;
        text-align: center;}
    &__galeria{
        display: grid;
        grid-template-columns: auto auto auto;
        list-style-type: none;
        justify-content: space-around;
        text-align: center;
        gap: .5rem;
        padding-left: 0;
        margin-bottom: 7rem;}
    &__img{
        height: 300px;
        border: solid 1px;
        width: 100%;}
    &__descripcion{
    font-size: 1rem;
    color:black;
    font-family: $familiafuente-general;
    font-weight:normal;
    margin-top: 1rem;
    margin-left: .5rem;}
    &__comprar{
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-right: .5rem;
        margin-left: .5rem;}
    &__precio{
        font-size: 1rem;
        color:black;
        font-family: $familiafuente-general;
        font-weight:bolder;
        margin-bottom: 0rem;}
    &__boton{
        @include boton;
        &:hover {
            @include boton-hover;}
    }
}
